header, footer, main {
    margin: 10px;
    padding: 15px;
}

header {
    color: lime;
    background-color: black;
}

ul {
    border: 2px solid lime;
    padding: 20px;
    list-style: none;
    box-shadow: rgb(0, 0, 0) 10px 10px;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgb(128, 128, 128) 20px 20px 10px;
}

a:visited, a {
    color: blue;
}

#footer {
    background-color: lime;
}

h1 {
    font-weight: bold;
}

a.linkfont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.realbold {
    font-weight: bolder;
}